# Secrets
.env
*.env
!.env.example

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/azure_motorsport

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log
